@import "tailwindcss";

/* Tailwind Layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* =========================
   DESIGN SYSTEM
========================= */
@theme {
  /* Font */
  --font-manrope: "Manrope", sans-serif;

  /* Absolute */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Red */
  --color-red-45: #e50000;
  --color-red-50: #ff0000;
  --color-red-55: #ff1919;
  --color-red-60: #ff3333;
  --color-red-80: #ff9999;
  --color-red-90: #ffcccc;
  --color-red-95: #ffe5e5;
  --color-red-99: #fffafa;

  /* Black */
  --color-black-06: #0f0f0f;
  --color-black-08: #141414;
  --color-black-10: #1a1a1a;
  --color-black-12: #1f1f1f;
  --color-black-15: #262626;
  --color-black-20: #333333;
  --color-black-25: #404040;
  --color-black-30: #4c4c4c;

  /* Grey */
  --color-grey-60: #999999;
  --color-grey-65: #a6a6a6;
  --color-grey-70: #b3b3b3;
  --color-grey-75: #bfbfbf;
  --color-grey-90: #e4e4e7;
  --color-grey-95: #f1f1f3;
  --color-grey-97: #f7f7f8;
  --color-grey-99: #fcfcfd;
}

/* Custom base Layer */

@layer base {
  body {
    font-family: var(--font-manrope);
    background: var(--color-black-08);
  }
}

/* Custom Components Layer */
@layer components {
  /* for heading */
  .heading-one {
    @apply text-[clamp(28px,28px+2.68vw,58px)]/[150%] font-bold;
  }
  .heading-two {
    @apply text-[clamp(24px,24px+2.14vw,48px)]/[150%] font-bold;
  }
  .heading-two-semi {
    @apply text-[clamp(24px,24px+1.43vw,40px)]/[73%] font-semibold;
  }
  .heading-three{
    @apply text-[clamp(24px,24px+1.25vw,38px)]/[150%] font-bold;
  }

  .heading-five-semi{
    @apply text-[clamp(18px,20px-0.536vw,24px)]/[150%] font-semibold  ;
  }
  .heading-five-bold{
    @apply text-[clamp(18px,20px-0.536vw,24px)]/[150%] font-bold    ;
  }

  .heading-six{
     @apply text-[clamp(18px,18px+0.357vw,22px)]/[150%] font-medium  ;
  }

  /*  for paragraph  */

  .peragraph-reg {
    @apply text-[clamp(14px,14px + 0.357vw,18px)]/[150%]  font-normal;
  }
  .peragraph-med {
    @apply text-[clamp(14px,14px + 0.357vw,18px)]/[150%]  font-medium;
  }
  .peragraph-semi-one {
    @apply text-[clamp(14px,14px+0.357vw,18px)]/[150%]  font-semibold;
  }
  .peragraph-semi-two {
    @apply text-[clamp(16px, 16px + 0.0.357vw, 20px)]/[150%]  font-semibold;
  }
}
  